<html>
<head>
    <title>Steam info</title>
    {% stylesheets "bundles/Steam/css/*" filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all"/>
    {% endstylesheets %}
</head>
<body>
    <h1 id="title">
        Welcome to the best steam information website!
    </h1>
</body>
</html>
