<html>
<head>
    <title>Steam info</title>
    {% stylesheets "bundles/Steam/css/*" filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all"/>
    {% endstylesheets %}
</head>
<body>
    <h1 class="center_text">
        Welcome to the best steam information website!
    </h1>

    <a href="{{ path('steam_user') }}"><h2 class="center_text">Click here to load friends</h2></a>

    {% if userAvatar is defined %}
        <img src="{{ userAvatar }}">
        <img src="{{ friendAvatar }}">
    {% endif %}
</body>
</html>
